<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio</title>
</head>
<body>
    <h1>Registrar Participante</h1>
    <form action="sendForm()" method="post">
        <label for="fullname">Nombre Completo</label>
        <input type="text" name="fullname" id="fullname">
        <br>
        <label for="">Estilo</label>
        <br>
        <label for="pecho">Pecho</label>
        <input type="checkbox" name="pecho" id="pecho" value="pecho">
        <label for="pecho">Crol</label>
        <input type="checkbox" name="crol" id="crol" value="crol">
        <label for="pecho">Espalda</label>
        <input type="checkbox" name="espalda" id="espalda" value="espalda">
        <label for="pecho">Mariposa</label>
        <input type="checkbox" name="mariposa" id="mariposa" value="mariposa">

    </form>
    <script src="../scripts//form.js"></script>
</body>
</html>