<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/form.css">
    <title>Pagina de Inicio</title>
</head>
<body>
    <header>Registro de participantes</header>

    <form id="form" class="topBefore">
            
              <input id="name" type="text" placeholder="Nombre del nadador">
              <br>
              <br>
              <label for="">Distancia</label>
              
              <select>
                <option>25 metros</option>
                <option>50 metros</option>
                <option>100 metros</option>
              </select>
              <br>
              <br>
             
              <label class="container">Croll
                <input type="checkbox" checked="checked" id="croll">
                <span class="checkmark"></span>
              </label>
              
              <label class="container">Espalda
                <input type="checkbox" id="espalda">
                <span class="checkmark"></span>
              </label>
              
              <label class="container">Mariposa
                <input type="checkbox" id="mariposa">
                <span class="checkmark"></span>
              </label>
              
              <label class="container">Pecho
                <input type="checkbox" id="pecho">
                <span class="checkmark"></span>
              </label> 
              <br>
          <input id="submit" type="submit" value="Enviar">
      
    </form>    
    <script src="../scripts//form.js"></script>
</body>
</html>